* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

header {
  width: 100%;
  min-height: 82px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #00000028;

  .nav-bar {
    width: 100%;
    padding: 0;
    min-height: 82px;
    .navbar-container {
      width: 100%;
      min-height: 82px;
      padding: 0;
      .site-logo {
        min-height: 82px;
        width: 172px;
        border-right: 1px solid rgba(128, 128, 128, 0.233);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;

        img {
          width: 100px;
        }
      }
      .nav-items-container {
        width: 73.2%;
        flex-grow: 0;
        min-height: 82px;
        justify-content: space-between;
        .nav-items {
          width: 100%;
          li {
            a {
              padding: 0;
              transition: 0.4s;
              gap: 10px;
              i {
                color: #007bff;
                font-size: 10px;
              }
              &:hover {
                transition: 0.4s;
                color: white;
                background-color: #007bff;
                i {
                  color: white;
                }
              }
            }
            &.dropdown {
              position: relative;

              ul.dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                padding: 15px;
                width: 120%;
                list-style: none;
                box-shadow: 0 0 10px #00000028;
                border-radius: 5px;

                li {
                  a {
                    color: #666;
                    text-decoration: none;
                    transition: 0.3s;
                    display: flex;
                    justify-content: start;
                    &:hover {
                      transition: 0.3s;
                      background-color: white;
                      color: #007bff;
                    }
                  }
                }
              }

              &:hover {
                ul.dropdown-content {
                  display: block;
                }
              }
            }
          }
        }
      }
      .vacancy-create {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eff1f2;
          width: 140px;
          border-radius: 5px;
          height: 35px;
          text-decoration: none;
          color: #333;
        }
      }
      .header-user {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(128, 128, 128, 0.233);
        min-height: 82px;
        position: relative;
        img {
          width: 43px;
          border-radius: 50%;
        }
        .logout-option {
          display: none;
        }
        &:hover {
          .logout-option {
            display: block;
            position: absolute;
            bottom: -50px;
            width: 100px;
            min-height: 60px;
            display: flex;
            background-color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px #00000028;
            a{
              text-decoration: none;
              color: black;
            }
          }
        }
      }
      .hamburger-button {
        background-color: #eff1f2;
      }
    }
  }
}

#search-and-filter {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  .container {
    h1 {
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-size: 28px;
      font-weight: 300;
    }
    button {
      font-weight: 400;
      background-color: #0014a7;
      color: white;
      border: none;
      border-radius: 5px;
      min-height: 30px;
      width: 230px;
      cursor: auto;
    }
    .search-inp-and-btn {
      width: 95%;
      box-shadow: 0 0 10px #00000028;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      min-height: 70px;
      border-radius: 5px;
      margin-top: 15px;
      margin-bottom: 10px;
      #searchinp-for-home {
        width: 90%;
        border: none;
        border-radius: 5px;
        color: white;
        &:focus {
          outline: none;
        }
        &::placeholder {
          padding-left: 10px;
          color: white;
        }
      }
      #searchbtn-for-home {
        width: 9%;
        cursor: pointer;
      }
    }
    #sort-for-job {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      background-color: white !important;
      color: black;
      gap: 5px;
      cursor: pointer;
    }
    .filter-for-data {
      margin-bottom: 20px;
      .hidden {
        display: none;
      }
      .visible {
        display: block;
      }
      #jobFilterForm {
        box-shadow: 0 0 10px #00000028;
        padding: 20px;

        .category {
          display: flex;
          gap: 10px;
          flex-direction: column;
          margin-bottom: 20px;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
            option {
              &:hover {
                background-color: #f0f2fd;
              }
            }
          }
        }
        .skills {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
          flex-direction: column;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
          }
        }
        .region {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
          flex-direction: column;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
          }
        }
        .workHours {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
          flex-direction: column;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
          }
        }
        .education {
          display: flex;
          gap: 10px;
          flex-direction: column;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
          }
        }
        .experience {
          display: flex;
          flex-direction: column;
          gap: 10px;
          select {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
          }
        }
        .min-salary {
          input {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
            &::placeholder {
              padding-left: 10px;
            }
          }
        }
        .max-salary {
          input {
            width: 90%;
            min-height: 45px;
            border-radius: 5px;
            box-shadow: 0 0 10px #00000010;
            border: 1px solid rgba(128, 128, 128, 0.185);
            &::placeholder {
              padding-left: 10px;
            }
          }
        }
        .send-btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          button {
            width: 90px;
            min-height: 50px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#vacancies-cnt {
  background-color: #f9f9f9;
  min-height: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .sort-jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    .sort-btn-cnt {
      background-color: white;
      width: 48%;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      button {
        padding: 5px 20px 5px 20px;
        border: none;
        border-radius: 5px;
        background-color: white;
      }
    }
  }
  .all-vacancies-cnt {
    background-color: white;
    width: 100%;
    min-height: 615px;
    box-shadow: 0 0 10px #00000028;
    .homeVacMain {
      width: 100%;
      padding: 0px;
      .homeVac {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .more {
          a {
            border: none;
            border-radius: 5px;
            width: 90px;
            min-height: 45px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            background-color: #c0c0c02f;
          }
          transition: 0.4s;
        }
        &:hover {
          border-left: 3px solid #0014a7;
          transition: 0.4s;

          a {
            background-color: #0014a7;
            color: white;
            transition: 0.4s;
          }
        }
      }
    }
  }
}
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  .footer-content-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    min-height: 260px;
    .footer-links-1,
    .footer-links-2,
    .footer-links-3,
    .footer-links-4 {
      list-style: none;
      padding: 0;
      justify-content: center;
      width: 25%;
      margin-top: 20px;

      li {
        margin: 0 10px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;

        a {
          color: #c0c0c0;
          text-decoration: none;
          font-weight: 400;
          line-height: 25px;
          font-size: 16px;
          transition: 0.4s;

          &:hover {
            transition: 0.4s;
            color: white;
          }
        }
      }
    }
  }

  .footer-social {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(128, 128, 128, 0.397);
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    width: 100%;
    min-height: 80px;
    align-items: center;
    gap: 25px;

    a {
      i {
        color: #c0c0c0;
        transition: 0.4s;
        font-size: 18px;

        &:hover {
          transition: 0.4s;
          color: white;
        }
      }
    }
  }

  p {
    min-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    .footer-content-1 {
      .footer-links-1,
      .footer-links-2,
      .footer-links-3,
      .footer-links-4 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .nav-bar {
      .navbar-container {
        .nav-items-container {
          position: absolute;
          background-color: #333333;
          top: 82px;
          width: 50%;
          .nav-items {
            width: 100% !important;
            padding: 20px;
            .nav-item {
              width: 100% !important;
              border-top: 1px solid rgba(128, 128, 128, 0.459);
              border-bottom: 1px solid rgba(128, 128, 128, 0.459);
              a {
                width: 100% !important;
                color: white;
                justify-content: start !important;
              }
            }
          }
        }
        .header-user {
          border-right: 1px solid rgba(128, 128, 128, 0.233);
          width: 94px;
        }
        .site-logo {
          width: 48%;
          justify-content: start;
          padding-left: 20px;
        }
        .hamburger-button {
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 555px) {
  header {
    .nav-bar {
      .navbar-container {
        justify-content: start;
        .site-logo {
          width: 127px;
          border: none;
        }
        .vacancy-create {
          display: none;
        }
      }
    }
  }
}
